.rectangle {
			background-color: #004aad; /* Fond bleu clair */
			border-radius: 100px; /* Bords arrondis */
			padding: 10px; 
			text-align: center;
            width: 500px; /*largeur*/
            margin: 0 auto; /*centrer la case*/
			color: white; /* Texte en blanc */
            margin-top: 50px;
		}
      
.fondsupport{
        background-color: #DCEAFB;
        border-radius: 36px;
        padding: 20px;
        width: 1300px;
        margin: 0 auto;
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
         }

     
.support{ 
        background-color: #005FAF; 
        color: white; 
        padding: 80px;
        width : 300px; 
        border-radius: 36px;
        margin-top: 40px;
        margin-right: 80px;
        margin-left: 150px;
        height: 150px;
        text-align: center;
        font-size: 25px;
        height: 100px;
        line-height: 30px;
        position : relative;
        display: flex;
          
}
.support2{ 
    background-color: #005FAF; 
    color: white; 
    padding: 80px;
    width : 300px; 
    border-radius: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 80px;
    height: 150px;
    text-align: center;
    font-size: 25px;
    height: 100px;
    line-height: 30px;
    position : relative;
    display: flex;
            }